<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trabelstesh.javaproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".model.backend.MyContentProvider"
            android:authorities="trabelstesh.javaproject"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".model.backend.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="trabelstesh.javaproject.MyAction" />
            </intent-filter>
        </receiver>

        <service
            android:name=".model.backend.CheckerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".controller.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".controller.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.TroubleActivity" />
        <activity android:name=".controller.AddActivityActivity" />
        <activity
            android:name=".controller.AllBusinessesActivity"
            android:label="@string/title_activity_all_businesses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.AllActivitiesActivity"
            android:label="@string/title_activity_all_activities"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>